[submodule "Vendor/320Categories"]
	path = Vendor/320Categories
	url = https://github.com/jimneylee/320Categories.git
[submodule "Vendor/JLNimbusTime"]
	path = Vendor/JLNimbusTime
	url = https://github.com/jimneylee/JLNimbusTimeline.git
