[submodule "vendor/320Categories"]
	path = vendor/320Categories
	url = https://github.com/jimneylee/320Categories.git
[submodule "vendor/JLNimbusTime"]
	path = vendor/JLNimbusTime
	url = https://github.com/jimneylee/JLNimbusTimeline.git